files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/laravel.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log

  "/opt/elasticbeanstalk/tasks/bundlelogs.d/laravel.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log

commands:
  01_update_composer:
    command: export HOME=/root && /usr/bin/composer.phar self-update
    ignoreErrors: true
